
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/Style.css">
</head>
<body>

    <h1>Добро пожаловть</h1>

    <div class="link">


            <button type="submit" class="btn">@Html.ActionLink("Войти", "Login")</button>
            <button type="submit" class="btn">@Html.ActionLink("Зарегестрироваться", "Register")</button>
       

    </div>

    <footer></footer>
</body>
</html>