@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

* {
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

body {
    background: rgb(52, 56, 61);
    padding: 80px;
}
h1 {
    color: rgb(255, 255, 255);
    margin: 20px auto 0;
    width: 300px;
    text-align: center;
    padding-bottom: 10px;
}

.link {
    margin: 0 25% 0 25%;
    width: 50%;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn {
    
    background: rgb(28, 30, 33);
    text-align: center;
}

.signin {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}

.signin::before {
    display: block;
    position: relative;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: 44px;
    margin-left: 20px;
    z-index: 1;
}

#sig::before {
    margin-top: 10px;
}

.signin input:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.signin input:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.signin input[type="text"], .signin input[type="password"], .signin input[type="url"], .signin button[type="submit"] {
    background: rgb(28, 30, 33);
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33);
    color: rgb(108, 115, 115);
}

.signin input[type="text"], .signin input[type="url"], .signin input[type="password"] {
    position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -4px;
    padding: 0 0 0 20px;
    font-weight: 700;
}

.signin input[type="text"]:focus, .signin input[type="url"]:focus, .signin input[type="password"]:focus {
    color: rgb(255, 255, 255);
}

.signin button[type="submit"] {
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}

.signin button[type="submit"]:hover {
    color: rgb(154, 0, 165);
    text-shadow: 0 0 10px rgb(154, 0, 165);
    cursor: pointer;
}

.password {
    padding-top: 3px;
}

.login {
    padding-bottom: 2px;
}

form {
    margin: 0 10% 0 38%;
    width: 50%;
    text-align: center;
}