
@{
    ViewData["Title"] = "View1";
}

<h2>View with two placeholders</h2>

@section Страница1 {
    <span>Custom Страница1  content</span>
}

@section Страница2 {
    <span>Custom Страница2 content</span>
}

