
@{
    ViewBag.Title = "Index";
}

<h2>Добро пожаловать на сайт вечеринки</h2>

<h3>вы приглашены на вечеринку, пожалуйста перейдите к форме и дайте ответ</h3>

<p><a href="https://localhost:44344/Party/Form" class="btn btn-primary btn-lg">Ответить &raquo;</a></p>
