
@{
    ViewBag.Title = "ThankYou";
}

<h2>Спасибо что ответили, всего доброго</h2>

<p><a href="https://localhost:44344/Party/Index" class="btn btn-primary btn-lg">Обратно на главную страницу &raquo;</a></p>

