@model IEnumerable<WebShop.Models.Customer>

<link rel="stylesheet" href="~/Content/AdminTybleStyle.css"/>



<div class="flex_buttons">
    <div class="text-right my_butt line">
        @Html.ActionLink("Вернуться к товарам", "../Goods/AdminTable", null, new { @class = "my_button" })
    </div>
</div>

<table class="table marg">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Телефонный номер
        </th>
        <th>
            Email
        </th>
        <th>
            Номера заказов
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            
            @foreach (var pur in item.Purchases)
            {
                string str = "[ " + pur.Good.Name + " - " + pur.AmountGood + "]\n";
                @str
                <br>
            }
            
        </td>

    </tr>
}

</table>
